body{
    display: flex;
    justify-content: center;
}

header{
    background-image: url('https://lh3.googleusercontent.com/l5vHKas7sVlbmWQOgZzZlmxViWvAPIu5Ygsv1rKaoPYzJqXLeBqoA6_bSgzxTdjNlfJqtFSBdyD1J-JaFtqTj9af85B-DNPUbNdnDbrITZ0pky7-m4xUF_9a7Do2fDxk2KB7dul1dgPiieTAog1peTvkfe-e7LeqMGfQaJP1gbEa6dcaromR64h7cVQPW90yXEQItAnQ_dE59stKabMzDwsaYAHeKqeP7Mm2WuxBKKD0haS0QCAufQQ55p_M9eJmF-5eYth08S1IYv_gh0iakU0kgcxP-Nd6wrdp7vEAqHIEjwmFnA9rMow1pbBNT7-naKmOY0-yTzFvLjcAJvCNL6AkKuWd1RoBFD_uKonXFZLXAA4CjD9HlRaCBz1TLxEP-3Ba5efZW068isT3t9jsyiTIcZZ0fKI8M0cQNmsH3cSHt_clT16accx-K00A29opKiKIdx55PjzFpKP_KQ-ij-3wGvtkNkP1aGbWUc9LHCUr4Eeaa66tGt0oD33fqCFP9zMVyR9oPtdualW55-nzyC3B0nxbJwJ5FtDP9JU2Vj97Xg46meva7EapxR0yZsz-VbGuTv3RGkqIwTCW7n_qaiSEUqf-LaOngRKgsQ=w2438-h1560-no');
    background-position-y: 45%;
    background-size: cover;
    height: 400px;
}
nav{
    display: flex;  
    justify-content: flex-end;
}

main{
    background-color: #efe5dd;
    padding: 30px;
    margin-top: 10px;
}

footer{
    color: #b5324a;
    height: 50px;
    
}

h1{
    padding-top: 20px;
}
h2{
    font-weight: lighter;
}

section{
    padding: 20px;
}

a{
    color: #efe5dd;
    text-decoration: none;
}
a:hover{
    color: #efe5dd;
    opacity: 30%;
    font-weight: bold;
    text-decoration: none;
}
.wrapper{
    background-color: #b5324a;
    color: #efe5dd;
    height: 35px;
    position: sticky;
    top:0;
    margin: auto;
    z-index: 1;
}

.img-self{
   border-radius: 0 200px; 
   height: 400px;
    padding: 10px;
    object-fit: cover;
    width: 400px;
}
.nav__des{
    padding: 10px;
}

.nam-box{
    color:#005f6a;
    text-align: end;
}
.contact{
    color: #005f6a;
    text-align: center;
    align-items: center;
}
.contact__button:hover{
    filter: opacity(80%);
}

.contact__button{
    background-color: #b5324a;
    border-radius: 15px;
    color: #efe5dd;
    font-size: 20px;
    height: auto;
    margin: 20px;
    padding: 10px 25px;
    width: auto;
    
}
.skills{
    background-color:#b5324a;
    border-radius: 100px 0 / 120px;
    color: #efe5dd;
    margin: 10px 0;
    padding: 50px;
    
}
.skill-box{
    background-color: #efe5dd;
    border-radius: 0 100px / 120px;
    color: #b5324a;
    margin-right: 5px;
    width: auto;
}

.proj-card{
    border-color: #b5324a;
    border-width: 2px;
    color: #b5324a;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 18rem;
}



.proj-btn{
    background-color: #005f6a;
    border-radius: 10px;
    color: #efe5dd;
}
.link__imp{
    color: #b5324a;
    text-decoration: none;
}
.link__imp:hover{    
    color: #b5324a;
    opacity: 30%;
    font-weight: bold;
    text-decoration: none;
}